*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section{
    width: 100%;
    text-align: center;
}

h1{
    font-size: 50px;
    font-weight: normal;
    margin: 40px 0;
    position: relative;
}

h1::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 4px;
    background-color: green;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    animation: animat 0.9s linear infinite;
}

@keyframes animat{
    0%{
        width: 80px;
    }
    25%{
        width: 150px;
    }
    50%{
        width: 220px;
    }
    100%{
        width: 80px;
    }
}

.gallery-menu{
    width: 80%;
    background-color: orange;
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
}

label{
    height: 100%;
    margin: 0 20px;
    cursor: pointer;
    font-size: 20px;
}

.gallery-content{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 25px;
}

.img{
    position: relative;
    height: 250px;
    border-radius: 20px;
}
.img img{
    width: 100%;
    height: 100%;
}

.img::before{
    content: "lorem ipsum";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: orange;
    font-weight: 900;
    font-size: 20px;
    width: 100%;
    margin-top: -120px;
    opacity: 0;
    transition: 0.5s;
}
.img:hover::before{
    opacity: 1;
    margin-top: 0;
}
.img::after{
    content: "";
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    bottom: 0;
    left: 0;
    height: 0;
    transition: 0.5s;
}

.img:hover::after{
    height: 100%;
}

#menu1:checked ~ .section .gallery-content .img{
    opacity: 1;
}

#menu2:checked ~ .section .gallery-content .computer{
    opacity: 1;
    position: relative;
}

#menu2:checked ~ .section .gallery-content .phone,
#menu2:checked ~ .section .gallery-content .television{
    opacity: 0;
    position: absolute;
}

#menu3:checked ~ .section .gallery-content .phone{
    opacity: 1;
    position: relative;
}

input{
    display: none;
}